mule-app/src/main/app/connectors.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:context="http://www.springframework.org/schema/context" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <context:property-placeholder location="classpath:configuration.properties"/>

    <http:request-config name="HP_Harvest_connector" host="${techDemonstrator.API.host}" port="${techDemonstrator.API.port}" basePath="${techDemonstrator.API.path}" doc:name="HTTP Request Configuration"/>
    <flow name="harvester_connector">
        <vm:inbound-endpoint exchange-pattern="request-response"  doc:name="harvest-in" address="vm://harvest-in"/>
        <http:request config-ref="HP_Harvest_connector" path="/harvest" method="POST" doc:name="HTTP"/>
    </flow>
    <flow name="harvesterStatus-in">
        <http:listener config-ref="HTTP_Harvester_Test" path="/harvestStatus" metadata:id="88f3eccc-629e-4d01-8e66-b579fc41f1d0" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
        <message-properties-transformer  doc:name="Message Properties">
            <add-message-property key="processId" value="#[payload.processId]"/>
            <add-message-property key="status" value="#[payload.status]"/>
            <add-message-property key="message" value="#[payload.message]"/>
            <add-message-property key="componentId" value="harvester"/>
        </message-properties-transformer>
        <vm:outbound-endpoint exchange-pattern="one-way" address="vm://status" doc:name="status"/>
    </flow>
    <flow name="tagApp-in">
        <vm:inbound-endpoint exchange-pattern="one-way" address="vm://tagApp-in" doc:name="tagApp-in"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="LoggingFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" address="vm://log" doc:name="log"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="hppin-in">
        <vm:inbound-endpoint exchange-pattern="one-way" address="vm://hppin-in" doc:name="hppin-in"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="mint-in">
        <vm:inbound-endpoint exchange-pattern="one-way" address="vm://mint-in" doc:name="mint-in"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="harvest-status">
        <vm:inbound-endpoint exchange-pattern="one-way" address="vm://status" doc:name="status"/>
        <http:request config-ref="HP_Harvest_connector" path="/publishHarvestStatus" method="POST" doc:name="HTTP"/>
    </flow>
</mule>
