mule-app/src/main/app/test-connectorsflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Harvester_Test" host="0.0.0.0" port="8081" basePath="/api" doc:name="HTTP Listener Configuration"/>
    <flow name="test-connectorsflowFlow">
        <http:listener config-ref="HTTP_Harvester_Test" path="/api/harvest" allowedMethods="POST" doc:name="HTTP">
            <http:response-builder>
                <http:header headerName="accept" value="application/json"/>
            </http:response-builder>
        </http:listener>
        <dw:transform-message metadata:id="4b1e7424-9366-4b97-8d2d-59ff91742551" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	connector: payload.connector,
	filePath: payload.filePath,
	luceneQuery: payload.luceneQuery
}]]></dw:set-payload>
        </dw:transform-message>
        <vm:outbound-endpoint exchange-pattern="one-way" address="vm://harvest-in" doc:name="VM"/>
    </flow>
    <flow name="test-connectorsflowFlow1">
        <http:listener config-ref="HTTP_Harvester_Test" path="/transform" doc:name="HTTP"/>
        <message-properties-transformer scope="session" doc:name="Message Properties">
            <add-message-property key="workingSpace" value="/tmp/"/>
            <add-message-property key="target" value="HP"/>
            <add-message-property key="processId" value="1"/>
        </message-properties-transformer>
        <vm:outbound-endpoint exchange-pattern="one-way" address="vm://harvest-in" doc:name="VM"/>
    </flow>
</mule>
