mule-app/src/main/app/transformers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <flow name="transformersFlow">
        <http:listener config-ref="HTTP_Harvester_Test" path="/transformData" metadata:id="8cf2fa52-d597-4163-b766-a0a002d288a7" doc:name="HTTP"/>
        <message-properties-transformer  doc:name="Message Properties" scope="session">
            <add-message-property key="transformation" value="#[message.inboundProperties.get('http.query.params').get('transformation')]"/>
        </message-properties-transformer>
	        <choice doc:name="Choice">
	            <when expression="#[sessionVars.transformation==&quot;eu.xml2hp.json&quot;]">
                    <byte-array-to-object-transformer mimeType="application/xml" doc:name="Byte Array to Object"/>
			        <dw:transform-message doc:name="Transform Message">
			            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
records : payload.OAI-PMH.ListRecords.*record map {
		pin: {
			caption: $.metadata.RDF.Proxy.title,
			date: $.metadata.RDF.Proxy.date,
			country: $.metadata.RDF.EuropeanaAggregation.country,
			license: $.metadata.RDF.EuropeanaAggregation.rights.@resource,
			preview: $.metadata.RDF.EuropeanaAggregation.preview.@resource,
			landingPage: $.metadata.RDF.EuropeanaAggregation.landingPage.@resource
		},
		remote: {
			id:(($.header.identifier) replace "http://data.europeana.eu/item" with "")
		}
}
]]></dw:set-payload>
			        </dw:transform-message>
	            </when>
	        </choice>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
    <flow name="edm2tagApp">
        <vm:inbound-endpoint exchange-pattern="one-way" address="vm://edm2tagApp" doc:name="VM"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
}]]></dw:set-payload>
        </dw:transform-message>
        <vm:outbound-endpoint exchange-pattern="one-way" address="vm://tagApp-in" doc:name="VM"/>
    </flow>
    <flow name="HP2MINT">
        <vm:inbound-endpoint exchange-pattern="one-way" address="vm://HP2MINT" doc:name="VM"/>
        <vm:outbound-endpoint exchange-pattern="one-way" address="vm://mint-in" doc:name="VM"/>
    </flow>
</mule>
